.Nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px 10px;
}

button {
    font-family: Arial;
    margin: 10px;
    font-size: 20px;
    padding: 2px 24px 2px 24px;
    background: #ffde59;
    border: 2px solid #d5c7c7;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #000000;
    cursor: pointer;
}
.button{
    margin: 9px;
    padding: 6px 24px 6px 24px;
}

@media only screen and (max-width: 480px) {
    .Nav {
        justify-content: center;
        background-color: #f4e8d1;
        margin: 15px 10px 0px 10px;
        border-radius: 15px;
        box-shadow: 0px 0px 3px #000000;
    }

    button, .button {
        margin: 10px 5px 5px 5px;
        padding: 10px;
        font-size: 15px;
        align-items: flex-start;
    }

    .button {
        box-shadow: none;
        background-color: #9c94776d;
        font-weight: 600;
    }
    .button:hover {
        background-color: #e4b5b5;
    }
}
