.detail {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20vh 20vmax 20vh 20vmax;
    padding: 10px;
    background-color: #ffe2a9;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #373232;
}

.info {
    flex-direction: column;
}

.ima {
    border-radius: 5px;
    margin-top: 10px;
    justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
    .detail {
        flex-direction: column;
        margin: 15%;
        padding: 10px;
    }
}