.App {
  text-align: center;
}
body{
  background-image: url("https://c0.klipartz.com/pngpicture/395/492/gratis-png-perro-feliz-patas-missoula-gato-perro.png");
  background-repeat:repeat ;
  background-size: 35%;
  background-color: #fff1da;
  background-blend-mode: overlay;
  font-family:  Arial;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}