.landing {
    background-image: url("https://img.freepik.com/vector-gratis/pata-diseno-logotipo-mascota-vector-negocio-tienda-animales_53876-136741.jpg?w=826&t=st=1708125051~exp=1708125651~hmac=238a3a62ab413f1ffde49913789d762379410e093cadd03a69174d0963bb7348");
    min-height: 98vh;
    background-size: cover;
    background-position: center center;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(239, 206, 175);
  background-blend-mode: overlay;
}

.navlink {
    text-decoration: none;
    color: white;

}

.bienvenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 33px;

}

.pokemons:hover {
    color: gold;
    background-color: rgba(85, 208, 212, 0.484);
    border-radius: 10px;
}

.nc{
    display: flex;
    justify-content: center;
    color: black;
    color: rgb(100, 92, 74);
}
footer{
    display: flex;
    justify-content: center;
    color: rgb(130, 115, 83);
}